[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Divide character strings into graphemes.
[access "refs/*"]
	owner = group user/yuiseki (yuiseki)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/yuiseki (yuiseki)
	label-Verified = -1..+1 group user/yuiseki (yuiseki)
	push = group user/yuiseki (yuiseki)
	read = group user/yuiseki (yuiseki)
	rebase = group user/yuiseki (yuiseki)
	removeReviewer = group user/yuiseki (yuiseki)
	submit = group user/yuiseki (yuiseki)
[access "refs/heads/*"]
	create = group user/yuiseki (yuiseki)
	push = +force group user/yuiseki (yuiseki)
	pushMerge = group user/yuiseki (yuiseki)
	read = group user/yuiseki (yuiseki)
[access "refs/tags/*"]
	push = group user/yuiseki (yuiseki)
	push = +force group user/yuiseki (yuiseki)
